<div class="container">
  <div class="row form-horizontal">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel panel-info" style="min-height:250px;">
        <div class="panel-heading">
          <h5 class="panel-title">Change Password</h5>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-xs-4">Old Password</label>
            <div class="col-xs-8">
              <input type="password" class="form-control input-xs" placeholder="Enter Old Password"
                ng-model="Model.OldPassword" required data-smk-strongPass="strong" autocomplete="new-password" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-4">New Password</label>
            <div class="col-xs-8">
              <input type="password" id="password" class="form-control input-xs" placeholder="Enter New Password"
                ng-model="Model.Password" required data-smk-strongPass="strong" autocomplete="new-password" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-4">Confirm Password</label>
            <div class="col-xs-8">
              <input type="password" id="confirmPassword" class="form-control input-xs"
                placeholder="Enter Confirm Password" ng-model="Model.ConfirmPassword" data-smk-strongPass="strong"
                autocomplete="new-password" />
            </div>
          </div>
          <div class="align-right" style="margin-right:10px;">
            <button type="button" class="btn btn-sm btn-primary" ng-click="changePassword()">
              <i class="ace-icon fa fa-save"></i>
              <span class="bigger-110">Change Password</span>
            </button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="clear()">
              <i class="ace-icon fa fa-eraser"></i>
              <span class="bigger-110">Clear</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>