<style>
    #atc .smk-error-msg {
        visibility: hidden;
    }
    #tpa .smk-error-msg {
        visibility: hidden;
    }
</style>
<div class="container">
    <div class="row form-horizontal">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-info" style="min-height:120px;">
                <div class="panel-heading">
                    <h5 class="panel-title">User Details</h5>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-xs-4">Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-xs" ng-model="Model.Name" placeholder="Name"
                                required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Mobile Number</label>
                        <div class="col-xs-8">
                            <div class="input-group input-group-xs">
                                <span class="input-group-addon">
                                    +88
                                </span>
                                <input type="text" ng-model="Model.MobileNumber" class="form-control input-xs" required
                                    maxlength="11" mn-number talign="left" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Age</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="Model.Age" class="form-control input-xs" maxlength="2"
                                mn-number />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Identification Type</label>
                        <div class="col-xs-8">
                            <select style="width: 100%;" ng-model="Model.PersonalIdType"
                                data-url="/Combo/GetConfigurations/PersonalIdType" mn-select2>
                                <option value=""></option>
                                <option ng-repeat="pit in IdTypes" value="{{ pit.text }}">{{ pit.text }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Identification Number</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-xs" ng-model="Model.PersonalId"
                                placeholder="Identification Number" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info" style="min-height:120px;">
                <div class="panel-heading">
                    <h5 class="panel-title">Nominee Details</h5>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-xs-4">Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-xs" ng-model="Model.BeneName"
                                placeholder="Name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Mobile Number</label>
                        <div class="col-xs-8">
                            <div class="input-group input-group-xs">
                                <span class="input-group-addon">
                                    +88
                                </span>
                                <input type="text" ng-model="Model.BeneMobileNumber" class="form-control input-xs"
                                    maxlength="11" mn-number talign="left" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Age</label>
                        <div class="col-xs-8">
                            <input type="text" ng-model="Model.BeneAge" class="form-control input-xs" maxlength="2"
                                mn-number />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Relationship</label>
                        <div class="col-xs-8">
                            <select style="width: 100%;" ng-model="Model.BeneRelationship"
                                data-url="/Combo/GetConfigurations/Relationship" mn-select2 required>
                                <option value=""></option>
                                <option ng-repeat="rp in Relationships" value="{{ rp.text }}">{{ rp.text }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="atc" class="form-group">
                <label class="control-label col-xs-12">The phone user has understood the terms and conditions of the
                    insurance and has declared the information provided is true and correct. In the event of a claim
                    should any of the details provided not be verified or prove to be false/misleading then any claim
                    may be denied at that time.</label>
                <div class="col-xs-2">
                    <label>
                        <input type="radio" value="true" name="AcceptsTerms" ng-model="Model.AcceptsTerms" required
                            mn-check>
                        Yes
                    </label>
                </div>
                <div class="col-xs-2">
                    <label>
                        <input type="radio" value="false" name="AcceptsTerms" ng-model="Model.AcceptsTerms" required
                            mn-check>
                        No
                    </label>
                </div>
            </div>
            <div id="tpa" class="form-group">
                <label class="control-label col-xs-12">The phone user authorises their data to be provided to a third
                    party for insurance purposes.</label>
                <div class="col-xs-2">
                    <label>
                        <input type="radio" value="true" name="ThirdPartyAuthorized"
                            ng-model="Model.ThirdPartyAuthorized" required mn-check>
                        Yes
                    </label>
                </div>
                <div class="col-xs-2">
                    <label>
                        <input type="radio" value="false" name="ThirdPartyAuthorized"
                            ng-model="Model.ThirdPartyAuthorized" required mn-check>
                        No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-8">The field Is the insured person the Owner or Legal User of the SIM
                    card? must be a number.</label>
                <div class="col-xs-4">
                    <select style="width: 100%;" ng-model="Model.DeviceOwnership" required mn-select2>
                        <option value=""></option>
                        <option value="Owner">Owner</option>
                        <option value="Legal User">Legal User</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="align-right" style="margin-right:15px;">
        <button type="button" class="btn btn-sm btn-primary" ng-click="save()">
            <i class="ace-icon fa fa-save"></i>
            <span class="bigger-110">Save</span>
        </button>
        <button type="button" class="btn btn-sm btn-primary" ng-click="clear()">
            <i class="ace-icon fa fa-eraser"></i>
            <span class="bigger-110">Clear</span>
        </button>
    </div>
</div>