<div class="container">
  <div class="row form-horizontal">
    <div class="panel panel-info" style="min-height:250px;">
      <div class="panel-heading">
        <h5 class="panel-title">Policy Search</h5>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="form-group">
            <label class="control-label col-xs-3">External Id</label>
            <div class="col-xs-9">
              <input type="text" class="form-control input-xs" ng-model="Model.ExternalId" placeholder="External Id" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">First Name</label>
            <div class="col-xs-9">
              <input type="text" class="form-control input-xs" ng-model="Model.FirstName" placeholder="First Name" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">Last Name</label>
            <div class="col-xs-9">
              <input type="text" class="form-control input-xs" ng-model="Model.LastName" placeholder="Last Name" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">Policy Number</label>
            <div class="col-xs-9">
              <input type="text" class="form-control input-xs" ng-model="Model.PolicyNumber"
                placeholder="Policy Number" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">Personal Id</label>
            <div class="col-xs-9">
              <input type="text" class="form-control input-xs" ng-model="Model.PersonalId" placeholder="Personal Id" />
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="form-group">
            <label class="control-label col-xs-3">Sales Reference</label>
            <div class="col-xs-9">
              <input type="text" class="form-control input-xs" ng-model="Model.SalesReference"
                placeholder="Sales Reference" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">Contribution Ext Ref</label>
            <div class="col-xs-9">
              <input type="text" class="form-control input-xs" ng-model="Model.ContributionExtRef"
                placeholder="Contribution Ext Ref" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">Partner</label>
            <div class="col-xs-9">
              <select style="width: 100%;" ng-model="Model.PartnerId" data-url="/Combo/GetPartners"
                ng-change="partnerChanged()" mn-select2>
                <option value="-1">All</option>
                <option ng-repeat="pet in Partners" value="{{ pet.value }}">{{ pet.text }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">Product</label>
            <div class="col-xs-9">
              <select style="width: 100%;" ng-model="Model.ProductId" mn-select2>
                <option value="-1">All</option>
                <option ng-repeat="pro in Products" value="{{ pro.value }}">{{ pro.text }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">Policy Status</label>
            <div class="col-xs-9">
              <select style="width: 100%;" ng-model="Model.PolicyStatus" data-url="/Combo/GetConfigurations/PolicyStatus"
                mn-select2>
                <option value="">All</option>
                <option ng-repeat="st in Statuses" value="{{ st.text }}">{{ st.text }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="align-right" style="margin-right:15px;">
          <button type="button" class="btn btn-sm btn-primary" ng-click="search()"
            ng-disabled="Model.PartnerId == '-1' && Model.ProductId == '-1' && !Model.PolicyStatus && !Model.ExternalId && !Model.FirstName && !Model.LastName && !Model.PolicyNumber && !Model.PersonalId && !Model.SalesReference && !Model.ContributionExtRef">
            <i class="ace-icon fa fa-search"></i>
            <span class="bigger-110">Search</span>
          </button>
          <button type="button" class="btn btn-sm btn-primary" ng-click="clear()">
            <i class="ace-icon fa fa-eraser"></i>
            <span class="bigger-110">Clear</span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h5 class="panel-title">Search Results</h5>
      </div>
      <div class="panel-body">
        <table id="resultTable" class="table table-bordered table-hover"></table>
      </div>
    </div>
  </div>
</div>